$fontPath: './';

@font-face {
    font-family: 'Gotham';
    src: url('#{$fontPath}Gotham-Light.woff2') format('woff2'),
        url('#{$fontPath}Gotham-Light.woff') format('woff');

    font-weight: normal;
 	font-style: normal;
}
