.footer{
  display: block;
  position: relative;
  div{
  	padding-top: (100%*170/1000);
  	height: 0;
	display: block;
	position: relative;
	width: 100%;
	overflow: hidden;
	 svg{
	 	top: 0;
		position: absolute;
		.rosa{fill:$rosa}
		.gris{fill:$gris}
		.vermell{fill:$vermell}
		}
	}
}