%gradient{
	@include gradient($vermell, $rosa);
}

%gotham{
	font-family: 'Gotham', Helvetica, sans-serif;
}

%lobster{
	font-family: 'Lobster', cursive;
}

%btn {
	cursor: pointer;
	padding: 7px 15px 10px;
	@extend %gradient;
	position: relative;
	border-radius: 15px;
	transition: color ease-in 0.2s 0.15s;
	color:$fosc;
	span{ 
		position:relative;
		z-index: 10;
	}
	&:before{
		content:'';
		z-index: 5;
		border-radius: 12px;
		width: calc(100% - 6px);
		height: calc(100% - 6px);
		background: #fff;
		@include absolute(3px,3px,3px,3px);
		transition: transform ease-in 0.2s;
	}
	&.active, &:hover{
		&:before{
			transform: scale(0);
		}
		color: $blanc;
		animation: menu 0.05s ease-out 0s forwards;

		@keyframes menu{
			0%{
				color: $fosc;
				
			}
			45%{
				&:before{
					transform: scale(1);
				}
			}
			50%{
				color:$blanc;
			}
			100%{
				&:before{
					transform: scale(0);
				}
			}
		}
	}
}


body{
	margin: 0;
	@extend %gotham;
	display: flex;
	min-height:100vh;
	flex-flow: column no-wrap;
	color: $fosc;
	font-smoothing: grayscale;
	text-rendering: optimizeLegibility; 
}

a{
	color: inherit;
	text-decoration: none;
	&:hover, &:focus, &:active{
		color: inherit;
		text-decoration: none;
	}
}

@for $i from 1 through 6{
	h#{$i} {
		@extend %lobster;
	}
}

nav,menu,main,footer{
	display:block;
	padding:0;
	margin:0;
}