.main{
	flex-grow:1;
	&#{'__content'}{
		h2{
			font-size:36px;
			@extend %gradient;
			color: transparent;
			background-clip: text;
		}

	}
	&#{'__productos'} {
		display: flex;
		flex-flow: row wrap;
		.product{
			text-align:center;
			width: (100%/4);
			@media (min-width: $screen-sm){
				width: (100%/7);
			}
			border: 1px solid $gris;
			padding:15px;
			margin-bottom:30px;
			background: $blanc;
			transition: transform ease-in-out 0.2s, box-shadow ease-in-out 0.4s;
			cursor:pointer;
			&:hover{
				z-index:10;
				transform: scale(1.1);
				box-shadow: -1px 1px 2px $gris, 1px 1px 2px $gris;
			}
			img{
				width: calc(100% - 20px);
				float:none;
				margin:auto;
				background-color:$gris;
				display: block;
				font-size:10px;
				min-height: 60px;
			}
			.name{
				color: $negre;
				font-size:15px;
			}
			.brand{
				font-size:12px;
			}
			.price{
				font-size:14px;
				color: $vermell;
				&:after{
					content:'€';
					padding-left:2px;
				}
			}
		}
	}
}