@mixin gradient($color1, $color2, $direction:'horitzontal'){
	// defaults
	$gradient:'linear';
	$cross-dir: 'left';
	$dir: 'to right';
	$filter: 1;

	@if ($direction == 'horitzontal') {
		$cross-dir: 'left';
		$dir: 'to right';
		$filter: 1;
	}
	@else if ($direction == 'top') {
		$cross-dir: 'top';
		$dir: 'to bottom';
		$filter: 0;
	}
	@else if ($direction == 'diagonal') {
		$cross-dir: '-45deg';
		$dir: '135deg';
		$filter: 1;
	}
	@else if ($direction == 'radial') {
		$gradient: 'radial';
		$cross-dir: 'center, ellipse cover';
		$dir: 'ellipse at center,';
		$filter: 1;
	}

	background-color: $color1;
	background: -moz-#{$gradient}-gradient(#{$cross-dir}, $color1 0%, $color2 100%);
	background: -webkit-#{$gradient}-gradient(#{$cross-dir}, $color1 0%, $color2 100%);
	background: #{$gradient}-gradient(#{$dir}, $color1 0%, $color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($color1)}', endColorstr='#{ie-hex-str($color2)}',GradientType=#{$filter} );
}




@mixin absolute($top:null,$right:null,$bottom:null,$left:null){
  @if(type-of($top)=='list'){
      $top: nth($top,1);
      $right: nth($top,2);
      $bottom: nth($top,1);
      $left: nth($top,2);
    @if(length($top)==3){
      $bottom: nth($top,3);
    }
    @if(length($top)==4){
      $left: nth($top,4);
    }
  }@else if(type-of($top)=='number'){
    $top: $top;
    $left: $left;
    $right: $right;
    $bottom: $bottom;
  }
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}