.nav{
	font-size:14px;
	@extend %gradient;
	color: $blanc;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 42px;
		
	&#{'__logo'} {
		float: left;
		padding: 7px 0 3px;
		h1{
			margin: 0;
			display: block;
			float: left;
			line-height: 0;
		}
		img{
			height: 40px;
			@extend %lobster;
		}
		
	}

	&#{'__profile'} {
		padding: 16px 0;
		display: block;
		float: right;
		text-transform:uppercase;
	}
}